* {
  color: #414147;
}

#convert-btn {
  display: block;
  margin: 10px 0;
  background-color: #89a5ca;
  color: #272f39;
}

#number {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Dongle;
}

h1 {
  font-size: 40px;
}

label, div, p {
  font-size: 30px;
}

#number, #convert-btn {
  font-size: 30px;
  font-family: Dongle;
  border: 0;
}

html {
  background-color: #e6e6fa;
}
